<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jiguang.JSMS" version="1.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net20" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" requireReinstallation="true" />
  <package id="pingpp" version="1.1.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
</packages>