<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    참고: 이 파일을 직접 편집하는 대신 웹 관리 도구를 사용하면 
    사용 중인 응용 프로그램에 대한 설정을 구성할 수 있습니다.
    Visual Studio에서 [웹 사이트]의 [Asp.Net 구성] 옵션을 사용하십시오.
    설정 및 주석에 대한 전체 목록은 일반적으로 
    \Windows\Microsoft.Net\Framework\v2.x\Config의 
    machine.config.comments에 있습니다. 
-->
<configuration>
  <appSettings>
    <!--내부작업-->
    <!--<add key="ConnectionString" value="server=192.168.88.11;database=BeautyMall;uid=sa;password=prodev83"></add>-->
    <!--외부작업-->
    <add key="ConnectionString" value="server=JTWM\SQLEXPRESS;database=changxin;uid=changxin;password=changxin11" />
    <add key="StorageLocal" value="~/storage" />
  </appSettings>
  <connectionStrings />
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
    </staticContent>
       
  </system.webServer>
  <system.web>
    <sessionState timeout="60" />
    <httpRuntime executionTimeout="6000000" maxRequestLength="2097151" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!-- 
            컴파일된 페이지에 디버깅 기호를 삽입하려면 
            compilation debug="true"로 설정하십시오. 이렇게 하면 
            성능에 영향을 주므로 개발하는 동안에만 이 값을 
            true로 설정하십시오.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            <authentication> 섹션에서는 ASP.NET에서 사용되는 
            보안 인증 모드의 구성을 설정하여 들어오는 
            사용자를 식별할 수 있습니다. 
    -->
    <authentication mode="Forms">
      <forms name=".AUTHCOOKIE" loginUrl="AdminSCM/Login.aspx" protection="All" />
    </authentication>
    <!--
            <customErrors> 섹션에서는 요청을 실행하는 동안 
            처리되지 않은 오류가 발생하는 경우 수행할 작업을 
            구성할 수 있습니다. 특히 이 섹션에서는 
            개발자가 오류 스택 추적 대신 html 오류 페이지가 표시되도록 
            구성할 수 있습니다.
    -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <siteMap>
      <providers>
        <remove name="AspNetXMLSiteMapProvider" />
        <add name="AspNetXMLSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/main/main.sitemap" />
        <add name="AspNetXMLSiteMapProvider3" type="System.Web.XmlSiteMapProvider" siteMapFile="~/BTVAdmin/BTVAdmin.sitemap" />
        <add name="AspNetXMLSiteMapProvider4" type="System.Web.XmlSiteMapProvider" siteMapFile="~/BTVAgent/BTVAgent.sitemap" />
        <add name="AspNetXMLSiteMapProvider5" type="System.Web.XmlSiteMapProvider" siteMapFile="~/BTVAlignment/BTVAlignment.sitemap" />
        <add name="AspNetXMLSiteMapProvider6" type="System.Web.XmlSiteMapProvider" siteMapFile="~/BTVSupply/BTVSupply.sitemap" />
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="ajaxpro">
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
      </httpHandlers>
    </system.web>
  </location>
  <!--<system.webServer>
        -->
  <!--<staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>-->
  <!--
    </system.webServer>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>